body {
    background-color: aqua;
    font-style: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
}
    
    header{
        color: rgb(255, 196, 232);
        text-align: center;
    
    }
    
    section{
        background-color: aliceblue;
        border-radius: 8px;
        padding: 10px;
        width: 500px;
        margin: auto;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.39);
    div {
        text-align: center;
        padding: 8px;
    }
    }
    footer{
        color: beige;
        text-align: center;
        font-style: italic;
    